* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  padding: 5px;
  min-height: 100%;
  background-image: url("images/background.png");
  background-repeat: repeat;
}

#signin, #signout, #glass {
  padding: 5px;
}

button {
  display: inline-block;
  text-align: left;
  padding: 5px;
  cursor: pointer;
  line-height: 20px;
  border-radius: 4px;
  margin-top: 5px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  min-width: 80px;
  text-align: center;
}

#signout_button {
  background: #CCC;
  border: 1px solid #999;
  color: #333;
}

#main {
  width: 100%;
  min-width: 1000px;
}

#footer {
  text-align: right;
  font-size: 9pt;
}
