* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

body {
  padding: 20px;
  background-image: url("images/background.png");
  background-repeat: repeat;
  font-family: "Roboto";
  font-weight: 300;
}

#signin, #main, #footer {
  padding: 5px;
}

#signin {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: center;
  position: relative;
  font-size: 23px;
}

#signin_button {
  position: absolute;
  top: 188px;
  left: 235px;
}

#footer {
  height: 26px;
}

#signout {
  position: absolute;
  top: 4px; left: 5px;
}

#menue {
  text-align: center;
  margin-bottom: 5px;
}

#submissions {
  overflow: auto;
}

button {
  display: inline-block;
  padding: 1px 5px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  color: #333;
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}

button:hover, button.selected {
  background: rgba(255, 255, 255, 0.8);
}

#header {
  width: 100%;
  min-width: 600px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 60px;
  padding: 5px 20px;
}

#main {
  width: 100%;
  min-width: 600px;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
}

#footer {
  position: relative;
  width: 100%;
  min-width: 600px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: right;
  font-size: 10pt;
}

.colour {
  display: inline-block;
  width: 14.2%;
  min-width: 14.2%;
  max-width: 14.2%;
  float: left;
  padding: 2px;
}

.colour img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#loading {
  display: block;
  position: fixed;
  width: 150px;
  height: 150px;
  top: 250px;
  left: 50%;
  margin-left: -75px;
  opacity: 0.5;
}