* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  width: 100%;
}

.card {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 640px;
  height: 400px;
  background-color: #333;
  position: relative;
  color: #CCC;
  padding: 10px;
  white-space: normal;
  overflow: hidden;
}

.card_text {
  position: absolute;
  top: 10px; left: 20px;
  font-size: 5em;
}

.card_date {
  position: absolute;
  font-size: 2em;
  bottom: 10px; right: 10px;
  background-color: #333;
}

#signin, #signout {
  padding: 5px;
}

#signout_button {
  display: inline-block;
  text-align: left;
  padding: 5px;
  cursor: pointer;
  line-height: 20px;
  border-radius: 4px;
  margin-top: 5px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: #333;
  border: 1px solid #999;
  color: #CCC;
}

#glass {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  padding-top: 10px;
  white-space: nowrap;
}

::-webkit-scrollbar {background: transparent; height: 10px; width: 10px;}
::-webkit-scrollbar-corner {background: transparent;}
::-webkit-scrollbar-thumb {background-color: #333; border: solid #333 2px;}
::-webkit-scrollbar-thumb:hover {background-color: #999; border: solid #999 2px;}