* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #222;
  width: 100%;
  height: 100%;
}

#footer {
  position: absolute;
  width: 800px;
  bottom: 0px;
  padding: 5px;
  text-align: center;
  left: 50%;
  margin-left: -400px;
  color: #CCC;
}

#footer a {
  color: #CCC;
}

.card {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
  color: rgba(255,255,255,0.8);
  width: 640px;
  height: 360px;
  background-color: #000;
  padding: 0;
  text-shadow: 0 1px 0px rgba(0,0,0,0.8);
  white-space: normal;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.card_text {
  position: absolute;
  height: 100%; width: 100%;
  left: 0; top: 0;
  padding: 10px 20px;
  font-size: 70px;
  z-index: 10;
}

.card_iframe {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  height: 100%; width: 100%;
  left: 0; top: 0;
}

.card_date {
  bottom: 0;
  font-size: 25px;
  padding: 15px 25px;
  position: absolute;
  text-align: right;
  width: 100%;
  background-image: linear-gradient(bottom, rgba(0,0,0,0.7), transparent 100%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.7), transparent 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.7), transparent 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.7), transparent 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.7), transparent 100%);
  font-weight: 300;
  z-index: 20;
}

.card_interface {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.shadow_up {
  -webkit-box-shadow: 0px -10px 10px -10px #555;
  -moz-box-shadow: 0px -10px 10px -10px #555;
  box-shadow: 0px -10px 10px -10px #555;
}

.shadow_down {
  -webkit-box-shadow: 0px 10px 10px -10px #555;
  -moz-box-shadow: 0px 10px 10px -10px #555;
  box-shadow: 0px 10px 10px -10px #555;
}

.shadow_down_up {
  -webkit-box-shadow: 0px 10px 10px -10px #555, 0px -10px 10px -10px #555;
  -moz-box-shadow: 0px 10px 10px -10px #555, 0px -10px 10px -10px #555;
  box-shadow: 0px 10px 10px -10px #555, 0px -10px 10px -10px #555;
}

.shadow_left_up {
  -webkit-box-shadow: 0px -10px 10px -10px #555, -10px 0px 10px -10px #555;
  -moz-box-shadow: 0px -10px 10px -10px #555, -10px 0px 10px -10px #555;
  box-shadow: 0px -10px 10px -10px #555, -10px 0px 10px -10px #555;
}

.shadow_right_up {
  -webkit-box-shadow: 0px -10px 10px -10px #555, 10px 0px 10px -10px #555;
  -moz-box-shadow: 0px -10px 10px -10px #555, 10px 0px 10px -10px #555;
  box-shadow: 0px -10px 10px -10px #555, 10px 0px 10px -10px #555;
}

.shadow_left_right_up {
  -webkit-box-shadow: 0px -10px 10px -10px #555, 10px 0px 10px -10px #555, -10px 0px 10px -10px #555;
  -moz-box-shadow: 0px -10px 10px -10px #555, 10px 0px 10px -10px #555, -10px 0px 10px -10px #555;
  box-shadow: 0px -10px 10px -10px #555, 10px 0px 10px -10px #555, -10px 0px 10px -10px #555;
}

.shadow_down_left_up {
  -webkit-box-shadow: 0px 10px 10px -10px #555, -10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
  -moz-box-shadow: 0px 10px 10px -10px #555, -10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
  box-shadow: 0px 10px 10px -10px #555, -10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
}

.shadow_down_right_up {
  -webkit-box-shadow: 0px 10px 10px -10px #555, 10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
  -moz-box-shadow: 0px 10px 10px -10px #555, 10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
  box-shadow: 0px 10px 10px -10px #555, 10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
}

.shadow_down_left_right_up {
  -webkit-box-shadow: 0px 10px 10px -10px #555, 10px 0px 10px -10px #555, -10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
  -moz-box-shadow: 0px 10px 10px -10px #555, 10px 0px 10px -10px #555, -10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
  box-shadow: 0px 10px 10px -10px #555, 10px 0px 10px -10px #555, -10px 0px 10px -10px #555, 0px -10px 10px -10px #555;
}

.card_icon {
  display: none;
}

/** Card-type-specific Styles */

.card_type_bundle > .card_icon {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  z-index: 50;
}

.card_type_reply {
  z-index: 250;
}

.card_type_reply > .card_text {
  color: rgba(255,255,255,0.5);
  font-size: 45px;
}

.card_type_reply > .card_text.real_input {
  color: rgba(255,255,255,0.8);
}

.card_type_reply > .card_icon {
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  left: 270px;
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
  border-radius: 50px;
  bottom: 20px;
}

.card_type_share {
  background-size: cover;
  z-index: 250;
}

.card_type_share > .card_text {
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-weight: 100;
  top: 240px;
  padding: 0;
  height: auto;
  color: rgba(255,255,255,0.9);
}

/* nb action cards are always above other cards */
.card_type_action {
  background-color: rgba(0,0,0,0.7);
  z-index: 500;
}

.card_type_progress {
  background-color: rgba(0,0,0,0.7);
  z-index: 350;
  top: 0;
  right: 0;
}

.card_type_action > .card_action, .card_progress {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 130px;
  padding: 0;
}

.card_type_action > .card_action > .card_text, .card_progress_text  {
  position: static;
  display: inline-block;
  color: white;
  font-size: 75px;
  font-weight: 100;
  padding: 0;
  width: auto;
  height: auto;
}

.card_type_action > .card_action > .card_icon, .card_progress_icon {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
}

.card_type_clock > .card_text {
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: 300;
  top: 280px;
  padding: 0;
  height: auto;
  color: rgba(255,255,255,0.5);
}

.card_type_clock > .card_date {
  text-align: center;
  font-size: 115px;
  font-weight: 100;
  top: 100px;
  padding: 0;
  bottom: auto;
}

.card_type_camera {
  background-size: cover;
}

.card_type_camera > .card_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card_type_camera > .card_text {
  text-align: right;
  font-size: 40px;
  font-weight: 300;
  padding: 10px;
  color: #FFF;
  background-color: transparent;
}


#signin, #signout {
  padding: 5px;
}

#signout_button {
  display: inline-block;
  text-align: left;
  padding: 5px;
  cursor: pointer;
  line-height: 20px;
  border-radius: 4px;
  margin-top: 5px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  background: #333;
  border: 1px solid #999;
  color: #CCC;
}

#glass {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
}
