<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Colours of the World</title>
    <script src="/service.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <link rel="stylesheet" type="text/css" href="/service.css">
  </head>
  <body>
    <div id="header">Colours of the World</div>
    <div id="main">
      <div id="signin">
        <img src="/images/signin.png">
        <div id="signin_button">
          <button class="g-signin"
            data-scope="{{ scopes }}"
            data-clientId="{{ client_id }}"
            data-callback="onSignInCallback"
            data-redirecturi="postmessage"
            {% if reconnect %}data-approvalprompt="force"{% endif %}
            data-accesstype="offline"
            data-theme="dark"
            data-cookiepolicy="single_host_origin">
          </button>
        </div>
        <p>Sign in to connect with your Glass&#8482; device and<br>start seeing the world in different colours.</p>
      </div>
      <div id="colours" style="display: none;">
        <div id="menue">
          <button id="all" class="selected">All Submissions</button>
          <button id="your">Your Submissions</button>
          <button id="other">Other Submissions</button>
        </div>
        <div id="submissions">
          <div id="red" class="colour"></div>
          <div id="orange" class="colour"></div>
          <div id="yellow" class="colour"></div>
          <div id="green" class="colour"></div>
          <div id="blue" class="colour"></div>
          <div id="indigo" class="colour"></div>
          <div id="violet" class="colour"></div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="signout" style="display: none;">
        <button id="signout_button" title="This will delete all your submissions, achievements and scores">Sign-out and disconnect</button>
      </div>
      <a href="/tos.html" target="_blank">Terms of Service &amp; Privacy Policy</a> / 
      Developed by <a href="https://plus.google.com/112336147904981294875" rel="author" target="_blank">Gerwin Sturm</a>,
      <a href="http://www.foldedsoft.at/" target="_blank">FoldedSoft e.U.</a>
    </div>
    <div id="loading" style="visibility: hidden;">
      <div id="circularG_1" class="circularG"></div>
      <div id="circularG_2" class="circularG"></div>
      <div id="circularG_3" class="circularG"></div>
      <div id="circularG_4" class="circularG"></div>
      <div id="circularG_5" class="circularG"></div>
      <div id="circularG_6" class="circularG"></div>
      <div id="circularG_7" class="circularG"></div>
      <div id="circularG_8" class="circularG"></div>
    </div>

    <script type="text/javascript">
      (function(global) {
        var po = document.createElement('script');
        po.type = 'text/javascript'; po.async = true;
        po.src = 'https://plus.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);

        global.mirrorService.setState("{{ state }}");
      })(this);
    </script>
  </body>
</html>